NODE_ENV = development
PORT = 3000

DATABASE_URL = 
CLIENT_URL = http://localhost:5173

DB_HOST = localhost
DB_USER = postgres
DB_PASSWORD = 
DB_NAME = savings_tracker
DB_PORT = 5432

JWT_SECRET = 
CSRF_SECRET = 
COOKIE_SECRET = 

GMAIL_USER=
GMAIL_APP_PASSWORD=